# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Risultati dell'analisi (Opzionale, aggiungilo se non vuoi i CSV su Git)
output/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Log
*.log

# Sistema
.DS_Store
Thumbs.db